/*主圖視差與文案樣式*/
.contents {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media all and (min-width: 1025px) {
  .contents {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .contents {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media all and (max-width: 767px) {
  .contents {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media all and (max-width: 767px) and (max-width: 414px) {
  .contents {
    font-size: 3.75vw;
  }
}

@media all and (max-width: 767px) and (min-width: 415px) {
  .contents {
    font-size: 15.525px;
  }
}

.contents.is-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

main {
  overflow: hidden;
}

.sec-bg-light {
  background-image: radial-gradient(
    circle at 8% 10%,
    var(--beige),
    #e1d7ca 97%
  );
}

.dummy-scroll {
  position: relative;
  z-index: 1;
}

.dummy-scroll-child {
  position: relative;
  z-index: 1;
  height: 60vh !important;
}


.all-page {
  visibility: visible;
}

.button-border {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  line-height: 1.1;
  position: relative;
  border: 0;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: 0 0;
}

@media all and (min-width: 1025px) {
  .button-border {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .button-border {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}

@media all and (max-width: 767px) {
  .button-border {
    font-size: 11px;
    font-size: 0.6875rem;
  }
}

@media all and (max-width: 767px) and (max-width: 414px) {
  .button-border {
    font-size: 3.4375vw;
  }
}

@media all and (max-width: 767px) and (min-width: 415px) {
  .button-border {
    font-size: 14.23125px;
  }
}

@media all and (min-width: 768px) {
  .button-border {
    width: 160px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media all and (max-width: 767px) {
  .button-border {
    width: 160px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.button-border:after,
.button-border:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-border:after {
  background-color: var(--light-mustard);
}

.button-border--black {
  color: #222;
}

.button-border--black:after {
  background-color: #222;
}

.button-border__label {
  display: inline-block;
  position: relative;
  z-index: 10;
}

.button-border__line-h:after,
.button-border__line-h:before,
.button-border__line-v:after,
.button-border__line-v:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  background-color: var(--light-mustard);
}

.button-border__line-h--black:after,
.button-border__line-h--black:before,
.button-border__line-v--black:after,
.button-border__line-v--black:before {
  background-color: #222;
}

.button-border__line-v:after,
.button-border__line-v:before {
  width: 2px;
  top: 0;
  bottom: 0;
}

.button-border__line-v:before {
  left: 0;
}

.button-border__line-v:after {
  right: 0;
}

.button-border__line-h:after,
.button-border__line-h:before {
  height: 2px;
  right: 0;
  left: 0;
}

.button-border__line-h:before {
  top: 0;
}

.button-border__line-h:after {
  bottom: 0;
}

.button-border__label {
  opacity: 0;
  -webkit-transition-property: color, opacity;
  transition-property: color, opacity;
}

.button-border__line-h:after,
.button-border__line-h:before,
.button-border__line-v:after,
.button-border__line-v:before {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.button-border__line-v:after,
.button-border__line-v:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.button-border__line-v:before {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.button-border__line-v:after {
  -webkit-transform-origin: top;
  transform-origin: top;
}

.button-border__line-h:after,
.button-border__line-h:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.button-border__line-h:before {
  -webkit-transform-origin: left;
  transform-origin: left;
}

.button-border__line-h:after {
  -webkit-transform-origin: right;
  transform-origin: right;
}

.button-border:after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.button-border.is-shown .button-border__label {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.button-border.is-shown .button-border__line-v:after,
.button-border.is-shown .button-border__line-v:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.button-border.is-shown .button-border__line-h:after,
.button-border.is-shown .button-border__line-h:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.button-border.is-shown:before {
  opacity: 1;
}

.button-border.is-over .button-border__label {
  color: #4e453e;
  font-weight: bolder;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.button-border.is-over .button-border__label--black {
  color: var(--light-mustard);
}

.button-border.is-over:after {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.button-border.is-leave .button-border__label {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.button-border.is-leave:after {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}


.header-bg {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: bottom 50% right 50%;
  opacity: 0.8;
}

.header__in {
  opacity: 1;
  transition: all 1s ease-out;
}

.header__in.fade {
  opacity: 0;
  transition: all 1s ease-out;
}

.header__in > h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
}

.header__in > p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 575.98px) {
  .header__in > h1 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  .header__in > p {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2;
  }
}

.header-bg-mobile {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media all and (max-width: 450px) and (min-height: 750px) {

  .header-bg-mobile {
    width: auto;
    height: 100vh;
    
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}


.header-bg.is-hidden {
  display: none;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

@media all and (max-width: 767px) {
  .header {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.header__title {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

@media all and (min-width: 1367px) {
  .header__title {
    font-size: 3rem;
  }
}

@media all and (min-width: 1025px) and (max-width: 1366px) {
  .header__title {
    font-size: 3.5vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header__title {
    font-size: 3.5vw;
  }
}

@media all and (max-width: 767px) {
  .header__title {
    font-size: 1.68rem;
  }
}

.header__excerpt {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

@media all and (min-width: 1025px) {
  .header__excerpt {
    font-size: 0.875rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header__excerpt {
    font-size: 0.875rem;
  }
}

@media all and (max-width: 767px) {
  .header__excerpt {
    font-size: 0.75rem;
    background-image: none;
  }
}

@media all and (max-width: 767px) and (max-width: 414px) {
  .header__excerpt {
    font-size: 3.75vw;
  }
}

@media all and (max-width: 767px) and (min-width: 415px) {
  .header__excerpt {
    font-size: 1rem;
  }
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
